In [9]:
import pandas as pd
import numpy as np

In [35]:
ind = pd.read_csv("https://richardson.byu.edu/data_contest/indicators.csv")
cci = pd.read_csv("https://richardson.byu.edu/data_contest/CCI.csv")
games = pd.read_csv("vgsales.csv")

In [36]:
ind = ind.drop(["Country Name","Series Code"], axis = 1)
ind.head()

,Country Code,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,JPN,"Inflation, consumer prices (annual %)",3.574511525,5.368461785,6.835440348,6.706905564,3.800389453,6.655990943,5.040832059,3.989848089,...,-0.044065,0.335038,2.759227,0.795280,-0.127259,0.484200,0.989094598,0.468776159,-0.024995834,-0.233352779
1,JPN,GDP per capita growth (annual %),..,11.04407304,7.901714421,7.379857063,10.52079209,4.686450016,9.632359631,9.938834499,...,1.536787,2.152371,0.429381,1.668465,0.805363,1.758612,0.711770198,-0.100125011,-4.225555341,2.089279405
2,JPN,GDP per capita (current US$),475.3190756,568.9077427,639.6407854,724.6937622,843.6168785,928.5188486,1068.55844,1239.318377,...,49145.280430,40898.647900,38475.395250,34960.639380,39375.473160,38834.052930,39727.1166,40458.00188,39918.16756,39285.16311
3,JPN,Lending interest rate (%),..,..,..,..,..,..,..,..,...,1.407500,1.303750,1.219167,1.142833,1.044750,0.994000,..,..,..,..
4,JPN,"Unemployment, total (% of total labor force) (...",1.700000048,1.399999976,1.299999952,1.299999952,1.100000024,1.200000048,1.299999952,1.299999952,...,4.360000,4.040000,3.590000,3.390000,3.130000,2.820000,2.470000029,2.349999905,2.799999952,2.799999952

In [42]:
ind = ind.melt(id_vars=['Country Code','Series Name'], var_name= "Year")
type(ind)
#ind['Year'].str.split(' [',1,expand= True)[0]

/var/folders/d9/7cxg74nn7p5fj957krz2nmgw0000gp/T/ipykernel_4958/1047418255.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  ind = ind.melt(id_vars=['Country Code','Series Name'], var_name= "Year")

pandas.core.frame.DataFrame

In [6]:
cci.head()

  LOCATION     TIME        CCI
0      JPN  1982-04  100.54880
1      JPN  1982-05  100.36020
2      JPN  1982-06  100.18530
3      JPN  1982-07  100.05240
4      JPN  1982-08   99.99239

In [ ]:
games.head()

In [ ]:
games['Year'].sort_values(ascending= False)

In [ ]:
games.columns