In [56]:
import pandas as pd
import numpy as np
import datetime as dt

In [50]:
games = pd.read_csv("vgsales.csv")

In [34]:
ind = pd.read_csv("https://richardson.byu.edu/data_contest/indicators.csv")
ind_drop = ind.drop(["Country Name","Series Code"], axis = 1)
ind_melt = ind_drop.melt(id_vars=['Country Code','Series Name'], var_name= "Year",value_name= "Value")
ind_melt['Year'] = ind_melt['Year'].str.split(' ',expand= True)[0]
indicators = ind_melt.replace("..", np.NaN).dropna()
indicators['Value'] = indicators['Value'].astype(float).round(3)
indicators

,Country Code,Series Name,Year,Value
0,JPN,"Inflation, consumer prices (annual %)",1960,3.575
2,JPN,GDP per capita (current US$),1960,475.319
4,JPN,"Unemployment, total (% of total labor force) (...",1960,1.700
5,JPN,Consumer price index (2010 = 100),1960,18.973
6,USA,"Inflation, consumer prices (annual %)",1960,1.458
...,...,...,...,...
1044,USA,GDP per capita growth (annual %),2021,5.546
1045,USA,GDP per capita (current US$),2021,69287.537
1046,USA,Lending interest rate (%),2021,3.250
1047,USA,"Unemployment, total (% of total labor force) (...",2021,5.350
1048,USA,Consumer price index (2010 = 100),2021,124.266

In [63]:
cci = pd.read_csv("https://richardson.byu.edu/data_contest/CCI.csv")
split = cci['TIME'].str.split("-",expand= True)
split.columns = ['Year','Month']
split
CCI = pd.concat([cci,split], axis= 1)
CCI['TIME'] = pd.to_datetime(CCI['TIME']).dt.strftime('%Y-%m')
CCI['Year'] = pd.to_datetime(CCI['Year']).dt.strftime('%Y')
CCI

     LOCATION     TIME        CCI  Year Month
0         JPN  1982-04  100.54880  1982    04
1         JPN  1982-05  100.36020  1982    05
2         JPN  1982-06  100.18530  1982    06
3         JPN  1982-07  100.05240  1982    07
4         JPN  1982-08   99.99239  1982    08
...       ...      ...        ...   ...   ...
1819      USA  2022-05   96.41887  2022    05
1820      USA  2022-06   95.99519  2022    06
1821      USA  2022-07   95.97128  2022    07
1822      USA  2022-08   96.29353  2022    08
1823      USA  2022-09   96.66169  2022    09

[1824 rows x 5 columns]

In [ ]:
games.head()

In [ ]:
games['Year'].sort_values(ascending= False)

In [ ]:
games.columns